


<div id="about" class="row">
      <div class="small-12 columns">
          <div class="row" >
            <div class="small-12 columns" >

          <section id="about">

            <div class="slider one-time">
              <div class="row centered">
                <div class="small-11 small-centered columns" >
                  <h2><center>Cumulative Intelligence</center></h2>
                  <div class="row centered">
                    <div id="border" class="small-12 medium-4 columns end">
                      <h3><u>Definition</u></h3>
                      <p> using personal or interpersonal expiriences, knowledge or memories tvercome challenges</p>
                    </div>
                    <div id="border" class="small-6 medium-4 columns" >
                      <h3><u>Cumulative</u></h3>
                      <p>cu·mu·la·tive (adjective) -> increasing or increased in quantity, degree, or force by successive additions.</p>
                    </div>
                    <div id="border" class="small-6 medium-4 columns">
                      <h3><u>Intelligence</u></h3>
                      <p>in·tel·li·gence (noun) -> the ability to learn or understand things or the ability to deal with new or difficult situations</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row centered">
                <div class="small-11 small-centered columns" >
                  <h2 style="padding:0em 0em"><center>Renaissance</center></h2>
                  <div class="row centered">
                    <div class="small-11 small-centered columns">
                      <p id="left">&nbsp&nbsp&nbsp&nbspThe Renaissance (from French: Renaissance "re-birth", Italian: Rinascimento, from rinascere "to be reborn") was a cultural movement that spanned the period roughly from the 14th to the 17th century, beginning in Italy in the Late Middle Ages and later spreading to the rest of Europe. Though availability of paper and the invention of metal movable type sped the dissemination of ideas from the later 15th century, the changes of the Renaissance were not uniformly experienced across Europe.</p>
                      <p id="left">&nbsp&nbsp&nbsp&nbsp As a cultural movement, it encompassed innovative flowering of Latin and vernacular literatures, beginning with the 14th-century resurgence of learning based on classical sources, which contemporaries credited to Petrarch, the development of linear perspective and other techniques of rendering a more natural reality in painting, and gradual but widespread educational reform.</p> 
                      <p id="left">&nbsp&nbsp&nbsp&nbsp In politics, the Renaissance contributed the development of the conventions of diplomacy, and in science an increased reliance on observation. Historians often argue this intellectual transformation was a bridge between the Middle Ages and Modern history. Although the Renaissance saw revolutions in many intellectual pursuits, as well as social and political upheaval, it is perhaps best known for its artistic developments and the contributions of such polymaths as Leonardo da Vinci and Michelangelo, who inspired the term "Renaissance man"</p>  
                    </div>
                  </div>
                </div>
              </div>


                 

              <div class="row centered">
                <div class="small-11 small-centered columns" >
                  <h2><center>Cumulative Intelligence</center></h2>
                  <div class="row centered">


                    <div class="small-6 medium-4 columns " >
                      <h3><u>Cumulative</u></h3>
                      <p>cu·mu·la·tive (adjective) -> increasing or increased in quantity, degree, or force by successive additions.</p>
                    </div>
                    <div class="small-6 medium-4 columns">
                      <h3><u>Intelligence</u></h3>
                      <p>in·tel·li·gence (noun) -> the ability to learn or understand things or to deal with new or difficult situations</p>
                    </div>
                    <div class="small-12 medium-4 columns end">
                      <h3><u>Definition</u></h3>
                      <p> using personal or interpersonal expiriences, knowledge or memories tvercome challenges</p>
                    </div>

                  </div>
                </div>
              </div>
            </br>  
            
            </div> <!-- end slider -->
          </section>
        </div>   
    </div>
  </div>
</div> <!-- end about row -->


<div id="articles">
  <section id="articles">
    <div class="medium-11 columns">
<% @articles.each do |article| %>
        <div class="row_article">
          <div class="row" >
            <div class="small-12 medium-8 medium-centered columns" > 
              <div class="row" >
                <h1><%=article.title%></h1>
                <div class="small-12 columns" >
                  <%= link_to "Read Article", article_path(article), class: "button small [radius round]" %>          
                </div>
              </div> <!-- end row -->
            
  <% if article.user_id == current_user %>
               <div class="row" >  
                 <div id="edit" class="small-6 columns" >
                  <%= link_to 'Edit', edit_article_path(article), class: "button small [radius round]" %>
                </div> 

                 <div id="edit" class="small-6 columns" >
                   <%= link_to 'Destroy', article_path(article),
                                      method: :delete, data: { confirm: 'Are you sure?' }, class: "button small [radius round]" %>
                 </div>
              </div> <!-- end edit/delete row -->
  <% end %>

            </div> <!-- end small-12 columns -->                 
          </div> <!-- end row -->
        </div> <!-- row_article -->
      </br>  
<% end %>
      </br> 
    </div><!-- end med-11 columns -->  
     
  </section>

<% if current_user != nil %>
    <div class="row">
      <div class="small-4 small-offset-8 columns">
        <%= link_to 'New Article', new_article_path, class: "button big [radius round]" %>       
      </div>
    </div>
<% else %>
  <div class="row">
      <div class="small-4 small-offset-8 columns">
        Sign In to Create Article      
      </div>
    </div>
<% end %>

</div> <!-- end #articles-->





<script type="text/javascript">
  $('.one-time').slick({dots: true,infinite: true,speed: 300,slidesToShow: 1,adaptiveHeight: true});
</script>







