<h1>
  <strong>Title:</strong>
  <%= @article.title %>
</h1>
 
<h2>
  <strong>Text:</strong>
  <%= @article.text %>
</h2>


<h3>Comments</h3>
<%= render @article.comments %>


<h3>Add a comment:</h3>
<%= render "comments/form" %>




<%= link_to 'Show All', articles_path, class: "button small [radius round]" %> | <%= link_to 'Edit', edit_article_path(@article), class: "button small [radius round]" %>