<!DOCTYPE html>
<html>
<head>
  <title>Practice Blog</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>
<!-- top nav -->
  <div class="sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"><a href="/"><h1>Cumulative Intelligence</h1></a></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
    
        </ul> 
        <ul class="right">
         
            <li class="has-dropdown">
              <a href="/#about">About</a>
              <ul class="dropdown">
                <li><a href="/#articles">Articles</a></li>
                <li><a href="/#contact">Contact</a></li>
              </ul>
            </li>
    
    <% if current_user != nil %>
            <li><%= link_to "Welcome " + current_user.username.capitalize, controller: "users", action: "show" %></li>
            <li><%= link_to "Log out", controller: "users", action: "logout" %></li>
      <% else %>
            <li><%= link_to 'Sign In', controller: "users", action: "login" %></li>
            <li><%= link_to "Register", controller: "users", action: "new" %></li>
    <% end %>
        </ul> <!-- end right -->
      </section>
    </nav>
  </div>

  <div class="body">

    <%= yield %>

  </div>


  <footer class="row" id="contact">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="small-5 small-offset-1 columns">
          <p>© Cumulative Intelligence</p>
        </div>
        <div class="small-5 columns" >
            <p><a "mailto:cumulative.intelligence@gmail.com">cumulative.intelligence@gmail.com</a></p>
        </div>
      </div>
    </div> 
  </footer>


  <script src="/assets/foundation.js"></script>
  <script src="/assets/foundation.topbar.js"></script>
  <script src="/assets/foundation.magellan.js"></script>
  <script src="/assets/foundation.tabs.js"></script>
  <script src="/assets/scripts.js"></script>
  <script src="/assets/slick.min.js"></script>
  <script>$(document).foundation();</script>
 
</body>
</html>
